source https://api.nuget.org/v3/index.json
storage: none


nuget FSharp.Core

nuget Giraffe

nuget Microsoft.AspNetCore.Server.Kestrel
nuget Microsoft.AspNetCore.Mvc
nuget Microsoft.AspNetCore
nuget Microsoft.AspNetCore.HttpsPolicy
nuget Microsoft.AspNetCore.Mvc.Formatters.Xml

nuget Expecto
nuget ExpressionToCodeLib
nuget Unquote